.App {
  text-align: center;
  color: mediumseagreen;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.App h1 {
  width: 100%;
}

.App .control {
  width: 100%;
  margin: 1em;
  display: flex;
  justify-content: center;
}

.App .control input{
  width: 50%;
}

#root {
  grid-column-start: 2;
  background-color: rgba(255, 255, 255, 0.75);
}

.name {
}

.description {
}

img{
  border-radius: 25%;
  box-shadow: hotpink;
}
