.App {
  text-align: center;
  color: mediumseagreen;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.App h1 {
  width: 100%;
}

.App input {
  width: 100%;
  margin-bottom: 1em;
}

#root {
  grid-column-start: 2;
  background-color: rgba(255, 255, 255, 0.75);
}

.name {
}

.description {
}
